.header {
    padding: 20px;
    position: relative;
  }
  
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.username {
    font-weight: bold;
    font-size: 20px;
}

.no-underline{
    text-decoration: none;
    color: black;
}

.logout-button {
    padding: 5px 10px;
    background-color: #eaeaea;
    border: none;
    cursor: pointer;
}

.underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #7b7676;
}
  