.color-nav {
  background-color: #E9C434;
  position: relative;
  padding: 0 !important; /* Remove or set it to 0 */
}

  .navbar-logo-image {
    height: 100%;
    width: auto;
    max-height: 70px;
  }
