.yellow-button{
    background-color: #E9C434;
    color: #8A353C;
    border: none;
    border-radius: 10px;
    width: 230px;
    height: 45px;
    text-transform: uppercase;
    margin: 5px auto;
}

.yellow-button:hover,
.red-button{
    background-color: #8A353C;
    color: #E9C434;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    width: 230px;
    height: 45px;
    text-transform: uppercase;
    margin: 5px auto;
}